/* padding: top right bottom left; * /


/*MAIN-STYLING*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
}

.main-title {
    font-size: var(--font-xlarge);
    font-weight: 600;
    color: var(--standard-white);
    padding: 0 0 0 0;
}

.main-slideshow-container {
    background-color: var(--standard-dark-background);
    padding: 1rem;
    width: 100%;
}

.main-slideshow-card {
    display: flex;
    flex-direction: row;
    padding: 0 1rem 0 3rem;
    align-items: center;
}

.main-slideshow-content {
    font-size: var(--font-xmedium);
    padding: 0 0 0 2rem;
    width: 25%;
}

.main-slideshow-content p {
    color: var(--standard-white);
}

.main-biography-container {
    display: flex;
    flex-direction: column;
    background-color: var(--standard-background);
    padding: 5rem 5rem 0rem 5rem;
    height: 90vh;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.main-biography-card {
    display: flex;
    width: 45%;
    height: auto;
}

.main-biography-img {
    height: 50%;
    border-radius: 50%;
    border: 1px solid #333;
}

.main-biography-content {
    display: flex;
    font-size: var(--font-xmedium);
    width: 100%;
}

.main-biography-content p {
    text-indent: 2em;
    width: 100%;
    box-sizing: border-box;
}

.main-team-container {
    display: flex;
    flex-direction: column;
    background-color: var(--standard-background);
    padding: 1rem;
    height: auto;
    font-size: var(--font-xmedium);
}

.main-team-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; /* centers the rows */
    max-width: 100%; /* makes sure it doesn’t overflow */
}

.main-team-card {
    display: flex;
    background-color: var(--standard-white);
    color: var(--primary-text-color);
    margin: 0 2rem 0.5rem 0rem;
    width: 15vw;
    height: 30vh;
    border-radius: 1rem;
    border: 2px solid var(--color-primary);
}

.main-team-card-title {
    font-size: var(--font-large);
    margin: 0;
}

.main-team-button {
    padding: 2rem;
}

.main-team-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.main-team-title {
    padding-left: 2rem;
    color: var(--standard-white);
    font-size: var(--font-xlarge);
}

.main-aboutme-content {
    padding-left: 2rem;
}

.main-aboutme-content p {
    color: var(--standard-white);
    padding-left: 1rem;
}

.main-aboutme-title {
    color: var(--standard-white);
    font-size: var(--font-large);
}
