/* Publications Styling */
.publications-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.publications-main-container {
    width: 50%;
    margin: 4vh;
}

.publications-container {
    width: 100%;
    display: block;
}

.publications-grid {
    display: grid;
    grid-template-columns: 0.4fr 3fr; /* First column for the year, second for the content */
    align-items: start;
    gap: 0.1em;
}

.publication-year {
    cursor: pointer;
    font-size: var(--font-large);
    grid-column: 1;
    visibility: hidden; /* Hide when not needed but still take space */
}

.publication-content {
    font-size: var(--font-medium);
    grid-column: 2; /* Ensures content always stays in second column */
    line-height: 1.6;
    padding: 0.2em;
    width: auto;
}

.publication-year:hover {
    color: var(--standard-light-grey);
}

.year-separator {
    grid-column: span 2; /* Makes the line span across both columns */
    width: 100%;
    border: none;
    height: 2px;
    background-color: var(--standard-light-grey);
    margin: 10px 0;
}

.year-arrow {
    font-size: var(--font-medium); /* Makes the arrow smaller */
    margin-left: 3px; /* Adds spacing between year and arrow */
}
