.publications-main {
    display: flex;
}

/* NAVBAR STYLING */
.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: rgb(0, 0, 0);
}

.navbar-name {
    font-size: 2cqmax;
    text-transform: uppercase;
    text-decoration-style: solid;
    color: white;
}

.navlink-container {
    display: flex;
    gap: 1.5em;
    padding-right: 5em;
}

.navlink {
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}

.navbar-logo-container {
    padding-left: 10em;
}

.navbar-logo {
    width: 6vw;
    height: auto;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover;
}

.navlink:hover {
    color: #1a73e7;
    cursor: pointer;
}

/* Publications Styling */
.publications-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.publications-container {
    display: flex;
    width: 50vw;
    gap: 50vw;
}

li {
    margin-bottom: 1em; /* Add margin below each list item */
    font-size: 18px; /* Optional: Adjust font size for better spacing */
    line-height: 1.5; /* Optional: Adjust line height to make text more readable */
}
