.publications-main {
    display: flex;
}

/* NAVBAR STYLING */
.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: rgb(0, 0, 0);
}

.navbar-name {
    font-size: 2cqmax;
    text-transform: uppercase;
    text-decoration-style: solid;
    color: white;
}

.navlink-container {
    display: flex;
    gap: 1.5em;
    padding-right: 5em;
}

.navlink {
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}

.navbar-logo-container {
    padding-left: 10em;
}

.navbar-logo {
    width: 6vw;
    height: auto;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover;
}

.navlink:hover {
    color: #1a73e7;
    cursor: pointer;
}

/* Publications Styling */
.publications-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.publications-title {
    font-size: 4em;
}

.publications-container {
    width: 70%;
    padding: 20px;
}

.publications-grid {
    display: grid;
    grid-template-columns: 0.5fr 3fr; /* 1/3 for year, 2/3 for content */
    gap: 10px;
    align-items: center;
}

.publication-year {
    font-size: 2em;
    font-weight: bold;
    text-align: left; /* Align year to the left */
    padding-left: 20px; /* Add spacing from the left edge */
    cursor: pointer;
    user-select: none;
    transition: color 0.3s;
}

.publication-year:hover {
    color: grey;
}

.publication-content {
    font-size: 18px;
    line-height: 1.6;
    padding: 0.5vh;
}

.year-separator {
    grid-column: span 2; /* Makes the line span across both columns */
    width: 100%;
    border: none;
    height: 2px;
    background-color: grey;
    margin: 10px 0;
}
