:root {
    --font-base: 1rem; /* Assuming 1rem = 16px */
    --font-small: calc(var(--font-base) / 1.618); /* ≈ 0.618rem */
    --font-medium: var(--font-base); /* 1rem */
    --font-xmedium: calc((var(--font-medium) + var(--font-large)) / 2);
    --font-large: calc(var(--font-base) * 1.618); /* ≈ 1.618rem */
    --font-xlarge: calc(var(--font-large) * 1.618); /* ≈ 2.618rem */
    --font-xxlarge: calc(var(--font-xlarge) * 1.618); /* ≈ 4.236rem */

    --primary-color: #2e5a88;
    --primary-text-color: #333333;
    --secondary-color: #7fa6c1;
    --standard-white: #ffffff;
    --standard-light-grey: #01065396;
    --standard-dark-blue: #0087bd;
    --standard-background: #000a6625;
    --standard-dark-background: #000000e1;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    color: var(--color-primary);
}

p,
span,
div {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
}

body {
    background-color: var(--standard-background);
}

a {
    color: var(--color-accent);
}

/*COMMON UTILS*/
.seperator {
    width: 100%;
    border: none;
    height: 2px;
    background-color: var(--standard-light-grey);
    margin: 10px 0;
}

.title {
    font-size: var(--font-xlarge);
    margin: 1rem 0 0 0;
}

/* NAVBAR STYLING */
.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
    height: 3vw;
    background-color: var(--standard-dark-blue);
}

.navbar-name {
    font-size: var(--font-xmedium);
    text-transform: uppercase;
    text-decoration-style: solid;
    color: var(--standard-white);
}

.navlink-container {
    display: flex;
    padding-right: 2em;
    height: 100%;
}

.navlink {
    font-style: normal;
    text-decoration: none;
    color: var(--standard-white);
    font-size: var(--font-xmedium);
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0.4em;
    transition: background 0.3s ease-in-out;
}

.navlink:hover {
    color: var(--standard-white);
    background: var(--secondary-color);
    cursor: pointer;
}
